<%- include('partials/header') %>

<h1 class="display-5 mb-4">Reset Your Password</h1>
<div class="card shadow-sm">
    <div class="card-body">
        <form action="/auth/reset-password/<%= token %>" method="POST">
            <div class="mb-3">
                <label for="password" class="form-label">New Password</label>
                <input type="password" name="password" class="form-control" required>
            </div>
            <div class="mb-3">
                <label for="confirmPassword" class="form-label">Confirm New Password</label>
                <input type="password" name="confirmPassword" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-primary">Reset Password</button>
        </form>
    </div>
</div>

<%- include('partials/footer') %>